/* text css
	Name : Chirag Baranda
	Student Number: 000759867
*/

body{
	padding-left: 10%;
	padding-right: 10%;
}
h1 , h2{
	text-align: center;
	color: blue;
}
p{
	text-align: center;
}
img{
	display: block;
	margin: auto;
}
nav{
	text-align: center;
}
nav ul li{
	display: inline;
	border-right: 1px solid black;
	margin: auto;
	padding-left: 5px;
	padding-right: 5px;
}
form{
	float: left;
	margin-left: 20%; 
}
table{
	border-collapse: collapse;
}
th{
	background-color: #CCCCCC;
	font-weight: bold;
}
td{
	padding: 5px;
}

#mobileImage {
	display: none;
}

